<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel admina</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <nav class="nav">
        <ol class="nav__limiter">
            <li class="nav__item"><a href="/">Main</a></li>
            <li class="nav__item"><a href="/register">register</a></li>
            <li class="nav__item"><a href="/login">login</a></li>
            <li class="nav__item"><a href="/admin">admin</a></li>
            <li class="nav__item"><a href="/logout">logout</a></li>
        </ol>
    </nav>

    <nav class="adminNav">
        <ol class="nav__limiter">
            <li class="nav__item"><a href="/sort">Sort</a></li>
            <li class="nav__item"><a href="/gender">Gender</a></li>
            <li class="nav__item"><a href="/show">Show</a></li>
        </ol>
    </nav>

    <h1 class="pageDesc">WYBIERZ OPCJE</h1>
</body>
</html>